# String Fumctions

In [2]:
help(str.swapcase)

Help on method_descriptor:

swapcase(self, /)
    Convert uppercase characters to lowercase and lowercase characters to uppercase.

In [3]:
help(str.strip)

Help on method_descriptor:

strip(self, chars=None, /)
    Return a copy of the string with leading and trailing whitespace remove.

    If chars is given and not None, remove characters in chars instead.

In [7]:
s = "fpythonffff"
s.strip("f")
s
s.strip('p')

'fpythonffff'

In [19]:
sa = "   pthon"
sa =sa.strip()

In [20]:
for i in sa:
    print(i.swapcase(),end = " ")

P T H O N

In [13]:
help(str.upper)

Help on method_descriptor:

upper(self, /)
    Return a copy of the string converted to uppercase.

In [21]:
for i in sa:
    print(i.isupper(),end = " ")

False False False False False

In [22]:
for i in sa:
    print(i.islower(),end = " ")

True True True True True

In [25]:
dir("")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [26]:
''' 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']   '''

SyntaxError: invalid syntax (<ipython-input-26-2ca69719102d>, line 45)

In [27]:
for i in sa:
    print(i.capitalize())

P
T
H
O
N

In [29]:
sa.capitalize()

'Pthon'

In [34]:
name = 'Bharathi'
name

'Bharathi'

In [36]:
name.casefold()

'bharathi'

In [37]:
name.swapcase()

'bHARATHI'

In [40]:
name

'Bharathi'

In [46]:
name.center(20)

'      Bharathi      '

In [69]:
# Count
d ={}
for i in name:
    d[i] = name.count(i)
print(d)

{'B': 1, 'h': 2, 'a': 2, 'r': 1, 't': 1, 'i': 1}

In [62]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [70]:
help(str.encode)

Help on method_descriptor:

encode(self, /, encoding='utf-8', errors='strict')
    Encode the string using the codec registered for encoding.

    encoding
      The encoding in which to encode the string.
    errors
      The error handling scheme to use for encoding errors.
      The default is 'strict' meaning that encoding errors raise a
      UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
      'xmlcharrefreplace' as well as any other name registered with
      codecs.register_error that can handle UnicodeEncodeErrors.

In [71]:
name.encode()

b'Bharathi'

In [78]:
# endswith()
name.endswith('B')#false
name.endswith("i")# True

True

In [81]:
# Startswith()
name.startswith("b") # FAlse
name.startswith("B") # True

True

In [91]:
 # expandtabs "\t for tabs"
s = "\tBharathi"
s.expandtabs(10)

'          Bharathi'

In [100]:
s = "bhara$thi"

s.encode('utf-8')

b'bhara$thi'

In [125]:
s.decode('utf-8')

AttributeError: 'str' object has no attribute 'decode'

In [105]:
name

'Bharathi'

In [107]:
s.center(20,'*')

'*****bhara$thi******'

In [97]:
# find
name.find('i')
name.find('H') # it returns -1 char is not there

-1

In [115]:
'{0}' ' {1}'.format(34,2)

'34 2'

In [123]:
"{} and {} is {}".format(2,3,5)

'2 and 3 is 5'

In [124]:
"lengthof {} is {}".format(name,len(name))

'lengthof Bharathi is 8'

In [127]:
s

'bhara$thi'

In [135]:
s.maketrans("abc",'def')

{97: 100, 98: 101, 99: 102}

In [131]:
chr(100)

'd'

In [134]:
ord('$')

36

In [137]:
table = s.maketrans("abc",'def')

In [138]:
s.translate(table)

'ehdrd$thi'

In [139]:
table

{97: 100, 98: 101, 99: 102}

In [140]:
e ="bhara"

In [144]:
string = e.maketrans("abc","def") # it makes tha translate chars
string

{97: 100, 98: 101, 99: 102}

In [145]:
e.translate(string)   # replaces the e with string

'ehdrd'

In [152]:
n = 'gaatha'
n.replace('aa','ee')

'geetha'

In [163]:
l = 'gaatha'
l

'gaatha'

In [174]:
n
name1='gaatha'

In [175]:
l=name1.maketrans('aa','ee')

In [176]:
name1.translate(l)

'geethe'

In [214]:
a=[1,2,3,4]
b = [10,20,30,40]

In [212]:
for i in range(len(a)):
    a[i] += 3
print(a)

[4, 5, 6, 7]

In [215]:
print(a,b)

[1, 2, 3, 4] [10, 20, 30, 40]

In [216]:
c =[]
for i in range(len(a)):
    c.append(a[i] + b[i])
print(c)

[11, 22, 33, 44]

In [220]:
c1 = [i+5 for i in a]
c1

[6, 7, 8, 9]

In [221]:
c2 = [a[i]+5 for i in range(len(a))]
c2

[6, 7, 8, 9]

In [ ]:
d = {

# Tasks

In [178]:
# Given all the indivigdual scores of 10 batsman along with their names
# print their ranking based on the scores
# example:
#mohan= 1000,gir 100,siddu 200,alekhya 300 kavitha 10 mahesh 2000 bharathi 20
d = {"Mohan":1000,'siddu':200,'alekhya':300,'kavitha':10,'mahesh':2000,'bharathi':20}
d

{'Mohan': 1000,
 'siddu': 200,
 'alekhya': 300,
 'kavitha': 10,
 'mahesh': 2000,
 'bharathi': 20}

In [196]:
sort = (sorted(d.items(),key = lambda x:x[1],reverse = True))
sort

[('mahesh', 2000),
 ('Mohan', 1000),
 ('alekhya', 300),
 ('siddu', 200),
 ('bharathi', 20),
 ('kavitha', 10)]

In [197]:
rank =1
for i in sort:
    print(rank,i[0])
    rank +=1

1 mahesh
2 Mohan
3 alekhya
4 siddu
5 bharathi
6 kavitha

In [210]:
# ptint the common factors count of two integers
a =int(input())
b =int(input())
count =0
for j in range(1,max(a,b+1)):
    if a % j==0 and b%j==0:
        count+=1
print(count)

6
12
4

In [209]:
max(a,b)

14

# My Practice

In [1]:
# Lift Queries
t = int(input())
A =0
B =7
for i in range(t):
    lreq =int(input())
    middle = (A+B)//2
    if lreq <= middle:
        A = lreq
        #middlde = lreq
        print("A")
    elif lreq > middle:
        B = lreq
        print("B")

3
4
B
2
A
1
A

In [2]:
# Ali Helping innocent People
def Helping(s):
    if (s[2] in "AEIOUY") and (int(s[0])+int(s[1]))%2 !=0 and (int(s[3])+int(s[4]))%2 != 0 and (int(s[4])+int(s[5]))%2 != 0 and (int(s[7])+int(s[8]))%2 != 0:
        return "invalid"
    elif (int(s[0])+int(s[1]))%2 ==0 and (int(s[3])+int(s[4]))%2 ==0 and (int(s[4])+int(s[5]))%2 ==0 and (int(s[7])+int(s[8]))%2 ==0 and (s[2] not in "AEIOUY"):
        return "valid"
            
    return "invalid"
            
s = input()
print(Helping(s))

12B432-23
invalid

# Advanced Problem Set( Optional )

In [4]:
# Function to calculate the factorial of a given number
def factorial(n):
    fact = 1
    for i in range(1,n+1):
        if n==1 or n==0:
            return 1
        else:
            fact = fact*i
    return(fact)
             
n = int(input())
print(factorial(n))

5
120

In [5]:
# Function to calculate the average of all factorials in a given range
def avgFactorial(lb,ub):
    s = 0
    c = 0
    for i in range(lb,ub+1):
        val =factorial(i)
        #print(val)
        s +=val
        c +=1
    return(s//c)
        
    
lb = int(input())
ub = int(input())
print(avgFactorial(lb,ub))

1
5
30

In [ ]:
# Function to generate N odd Armstrong numbers
def isarmstrong(n):
    s=0
    temp = n
    l = len(str(n))
    while temp > 0:
        digit = temp%10  # it gives the last digit
        s += digit ** l
        temp = n//10   # it gives the que
    if (n == s):
        return True
    return False        
def generateArmstrong(lb,ub):
    for i in range(lb,ub):
        if i % 2 !=0:
            if isarmstrong(i):
                print(i)
    
generateArmstrong(1,200)

In [6]:
#Function to generate Multiplication table for a number in a given range
#10 in the range(100, 102) inclusive
#10 x 100 = 1000
#10 x 101 = 1010
#10 x 102 = 1020

n = int(input())
lb = int(input())
ub = int(input())
for i in range(lb,ub+1):
    print("{} * {} = {}".format(n,i,n*i))

10
100
103
10 * 100 = 1000
10 * 101 = 1010
10 * 102 = 1020
10 * 103 = 1030

In [7]:
n = int(input())
lb = int(input())
ub = int(input())
for i in range(lb,ub+1):
    print("{} * {} = {}".format(n,i,n*i))

2
1
20
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24
2 * 13 = 26
2 * 14 = 28
2 * 15 = 30
2 * 16 = 32
2 * 17 = 34
2 * 18 = 36
2 * 19 = 38
2 * 20 = 40

# Problems That needs a Try

In [8]:
# You are given a string and your task is to swap cases.
#In other words, convert all lowercase letters to uppercase letters and vice versa. 
#(The String may contain special characters).
n = input()
n.swapcase()

HelloWorld

'hELLOwORLD'

# Practice test Problem

In [9]:
l = []
while True:
    n = input()
    if n == "EXIT":
        break
    elif int(n)%2==0:
        l.append(int(n))
#print(" ".join(map(str,l)))
print(list(map(str,l)))
max(l)

32
76
EXIT
['32', '76']

76